<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="utf-8" />
      <meta name="description" content="blank" />
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <title>Login</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
      <!-- <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script> -->
   </head>
   <body>
      <h1 class="loginText">Aiyo! Your details wrong lah brader!!</h1>
      <div class="content">
         <form class="loginform" >
            <div class="question" >
               <button id ="submit" type="submit" onclick="goBack()" class="login">Go Back!</button>
            </div>
      </div>
      </div>
      </fieldset>
      </form>
      </div>
      <script>

         function openNav() {
            window.location.replace("https://rmgcheckpay.herokuapp.com/")
         }

      </script>
   </body>
</html>